  $color-header: #f2ec94;
  $color-subHeader: #f2c063;
  $color-navBar: #f2c063;
  $color-background: #73482f;
  $color-dropShadow: #000000;
  $color-textShadow:#000000d0;
  $color-FullScreenTint: #000000d0;
  $color-bodyMargin: #516673;
  $color-article: #f2f2f2;
  $color-hover: #f2ec94;
  $color-selectedGlow: #ffde04;
  $color-smallCaptions:#6b6b6b;
  $color-infoPanels:#b4b4b4;

  // shadow effects
  $shadow-panels: inset -6px 6px 6px $color-dropShadow;
  $shadow-text: -3px 4px 8px black;
  $shadow-hover: -4px 4px 8px black;


