@import "pallet";
@import "fonts";

// extends
%contentShadow {
  box-shadow: inset -6px 6px 6px $color-dropShadow;
}

// mixins
@mixin corners($tl, $tr, $bl, $br) {
  border-top-left-radius: #{$tl}px;
  border-top-right-radius: #{$tr}px;
  border-bottom-left-radius: #{$bl}px;
  border-bottom-right-radius: #{$br}px;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
}

.headings {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-headings;
  color: $color-header;
  text-shadow: $font-shadow;
}

.side-bar {
  background: $font-article;
}

.panel {
  font-family: $font-article;
  width: 100%;
  @extend %contentShadow;
  background-color: $color-article;
  border-radius: 30px;
  padding: 15px;
  overflow: hidden;
  &--horizontal-line {
    color: #9fa3a6;
    margin: 10px;
  }
  &--justified-text {
    text-align: justify;
  }
  &--center-text {
    text-align: center;
  }
}

.article {
  display: grid;
  text-align: justify;
  padding: 20px;
  font-family: $font-article;
  @extend %contentShadow;
  background-color: $color-article;
}

h3 {
  text-align: center;
}

.paragraph {
  max-width: 600px;
  font-size: 22px;
  margin-bottom: 30px;
}

// ------------ footer ---------------

footer {
  display: grid;
  justify-content: center;
  grid-column: span 2;
  align-items: center;
  text-align: center;
  color: $color-navBar;
  background-color: $color-background;
  height: 150px;
  @include corners(0, 0, 30, 30);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: $font-headings;
  text-shadow: 3px 3px 8px $font-shadow;
  display: grid;
  grid-column: 1 / span 4;
}

.socials {
  display: grid;
  width: 42px;
  &:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
  }
}
