// ------------ Gallery ---------------
@import "fonts";
@import "pallet";
@import "_mixins";

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  border-radius: 20px;
  border: 3px solid $color-background;
  display: grid;
  width: 300px;
  height: 200px;
@include hoverMovement(200,zoom-in,-5,5,box);
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.full-size-gallery {
  border-radius: 30px;
  border: 10px solid $color-background;
  box-shadow: 16px 16px 32px 10px $color-dropShadow;
  position: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 90vh;
  max-width: 90vw;
  z-index: 3;

  &:hover {
    cursor: zoom-out;
  }
}

.gallery-box {
  position: relative;
}

.caption-box {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  bottom: 8%;
  left: 0;
}

.gallery-caption {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-weight:1;
  font-family: $font-article;
  font-size: 120%;
  color: silver;
  text-shadow: 2px 2px 4px black;
  background-color: #0000008e;
  border-radius: 120px;
  border: 1px solid rgba(192, 192, 192, 0.541);
}
