@import "fonts";
@import "pallet";

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  background-color: $color-background;
}

.header {
  display: grid;
  position: relative;
  width: 100%;
  &__hero-img {
    width: 100%;
  }
}

.headings {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-headings;
  color: $color-header;

  &--title {
    margin-left: 40px;
    font-size: calc(100vw * 0.09);
    text-shadow: $font-shadow;
  }
  &--tag {
    display: none;
  }
}

.burger-wrapper {
  cursor: pointer;
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 40px;
  width: 100%;
  font-family: $font-headings;
  color: $color-header;

  &__hamburger {
    content: "";
    position: absolute;
    left: 15px;
    width: 22px;
    height: 0;
    box-shadow: 0 12px 0 1px $color-navBar, 0 20px 0 1px $color-navBar,
      0 28px 0 1px $color-navBar;
  }
}
.ham-menu {
  display: grid;
  text-align: center;
  align-content: space-between;
  overflow: hidden;
  height: 0px;
  width: 100%;
  transition: all 0.25s;
}
.ham-items {
  display: grid; /*flex*/
  justify-content: space-around;
  list-style: none;
  font-family: "Grape Nuts";
}
.ham-link {
  font-size: 48px;
  text-decoration: none;
  color: $color-navBar;
  &:hover,
  &--thipage {
    text-shadow: 2px 2px 4px #ffde04;
    color: $color-hover;
  }
}
.article {
  display: grid;
  text-align: justify;
  padding: 20px;
  font-family: $font-article;
  @extend %contentShadow;
  background-color: $color-article;
}
.paragraph {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;
  font-size: 22px;
  margin-bottom: 30px;
}

.side-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  font-size: 95%;
  background: $font-article;
}
.panel {
  font-family: $font-article;
  width: 40%;
  @extend %contentShadow;
  background-color: $color-article;
  border-radius: 30px;
  margin-top: 15px;
  padding: 15px;
  overflow: hidden;

  &--horizontal-line {
    color: #9fa3a6;
    margin: 10px;
  }
  &--justified-text {
    text-align: justify;
  }
  &--center-text {
    text-align: center;
  }
}

.float-right {
  margin: 5px 0px 0 15px;
  float: right;

  &__image {
    border-radius: 10px;
    border: 3px solid $color-background;
    max-width: 100%;
    width: 200px;
  }
}
.caption-text {
  text-align: center;
  padding-bottom: 15px;
  display: block;
  color: #9fa3a6;
  font-size: 14px;
  text-align: center;
}

// ------------ footer ---------------

footer {
  display: grid;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-navBar;
  background-color: $color-background;
  height: 150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: "Grape Nuts";
  text-shadow: 3px 3px 8px black;
  display: grid;
  grid-column: 1 / span 4;
}

.socials {
  display: grid;
  width: 42px;
  &:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
  }
}

// ------------ Gallery ---------------

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  border-radius: 10px;
  border: 3px solid $color-background;
  display: grid;
  width: 300px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.2s;
  &:hover {
    position: relative;
    cursor: zoom-in;
    top: -10px;
    left: 10px;
    box-shadow: -4px 4px 8px 0px $color-dropShadow;
    transition: 0.2s;
  }
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.full-size-gallery {
  border-radius: 30px;
  border: 10px solid $color-background;
  box-shadow: 16px 16px 32px 10px $color-dropShadow;
  position: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 90vh;
  max-width: 90vw;
  z-index: 3;
  
  &:hover {
    cursor: zoom-out;
  }
}

.gallery-box {
  position: relative;
}

.caption-box {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  bottom: 8%;
  left: 0;
}

.gallery-caption {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-family: "Grape Nuts";
  font-size: 120%;
  color: #f2c063;
  text-shadow: 2px 2px 4px black;
  background-color: #0000008e;
  border-radius: 120px;
  border: 1px solid rgba(192, 192, 192, 0.541);
}
