@import "pallet";
@import "fonts";

// extends
%contentShadow {
  box-shadow: inset -6px 6px 6px $color-dropShadow;
}

// mixins
@mixin corners($tl, $tr, $bl, $br) {
  border-top-left-radius: #{$tl}px;
  border-top-right-radius: #{$tr}px;
  border-bottom-left-radius: #{$bl}px;
  border-bottom-right-radius: #{$br}px;
}

* {
  margin: 0;
  padding: 0;
}

.h3{
  display:none;
}

.body {
  display: flex;
  justify-content: center;
  background-color: $color-bodyMargin;
  

  .main {
    border:2px solid black;
    display: grid;
    grid-template-columns: auto 250px;
    margin: 20px 10px 20px 10px;
    border-radius: 30px;
    background-color: $color-background;
  }
}
.header {
  position: relative;
  grid-column: 1 / span 2;
  &__hero-img {
    @include corners(30, 30, 0, 0);
    width: 100%;
  }
}

.headings {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-headings;
  color: $color-header;
  text-shadow: $font-shadow;
  &--title {
    margin-left: 40px;
    font-size: calc(100vw * 0.05);
  }
  &--tag {
    margin-left: 80px;
    font-size: calc(100vw * 0.02);
    margin-bottom: 15px;
  }
}

.burger-wrapper {
  display: none;
  font-family: $font-headings;
  color: $color-navBar;
}

.nav-menu {
  display: grid;
  grid-column: 1 / span 2;
  font-family: $font-headings;
  font-size: 38px;
  text-shadow: $font-shadow;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: $color-navBar;
}

.nav-link {
  color: $color-navBar;
  text-decoration: none;
  text-shadow: $font-shadow;
  &:hover {
    color: $color-hover;
    text-shadow: 2px 2px 4px $color-selectedGlow;
  }
  &--this-page {
    cursor: default;
    color: $color-hover;
    text-shadow: 2px 2px 4px $color-selectedGlow;
  }
}

.side-bar {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: auto;
  row-gap: 30px;
  width: 180px;
  margin: 0 20px 0 20px;
  font-size: 95%;
  background: $font-article;
}

.panel {
  font-family: $font-article;
  width: 100%;
  @extend %contentShadow;
  background-color: $color-article;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  &--horizontal-line {
    color: #9fa3a6;
    margin: 10px;
  }
  &--justified-text {
    text-align: justify;
  }
  &--center-text {
    text-align: center;
  }
}

.article {
  display: grid;
  text-align: justify;
  padding: 20px;
  @include corners(0, 20, 0, 20);
  font-family: $font-article;
  @extend %contentShadow;
  background-color: $color-article;
}
.paragraph {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 600px;
  font-size: 22px;
  margin-bottom: 30px;
}

.float-right {
  margin: 5px 50px 0 15px;
  float: right;
  &__image {
    cursor: zoom-in;
    border-radius: 20px;
    border: 3px solid $color-background;
    max-width: 100%;
    width: 250px;
    &--map {
      border-radius: 20px;
      border: 3px solid $color-background;
      max-width: 400px;
      max-height: 400px;
      width: 30vw;
      height: 30vw;
    }
  }
}
.caption-text {
  text-align: center;
  padding-bottom: 15px;
  display: block;
  color: #9fa3a6;
  font-size: 14px;
  text-align: center;
}

// ------------ footer ---------------

footer {
  display: grid;
  justify-content: center;
  grid-column: span 2;
  align-items: center;
  text-align: center;
  color: $color-navBar;
  background-color: $color-background;
  height: 150px;
  @include corners(0, 0, 30, 30);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: $font-headings;
  text-shadow: 3px 3px 8px $font-shadow;
  display: grid;
  grid-column: 1 / span 4;
}

.socials {
  display: grid;
  width: 42px;
  &:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
  }
}

.page-title{
  display:none;
}
h3{
  text-align: center;
}