.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  margin-top: 0;
  width: 80%;
  max-width: 90%;
}

.contact-form {
  display: grid;
  grid-template-columns: min-content;
  gap: 10px;
}

label {
  font-size: 18px;
  margin-left: 60px;
  font-weight: bold;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 1;
}

.message {
  align-self: flex-start;
}

input {
  max-width: 60%;
  border: 1px solid black;
  box-shadow: inset -2px 2px 8px black;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  display: grid;
  height: 32px;
}

textarea {
  max-width: 100%;
  box-shadow: inset -2px 2px 8px black;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-self: right;
  grid-row: 6;
  grid-column: 2;
}

.reset,
.submit {
  border: 3px outset black;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  max-height: min-content;
}

.reset:hover {
  background-color: red;
  color: white;
}

.submit:hover {
  background-color: darkgray;
  cursor: pointer;
}

.reset:active,
.submit:active {
  box-shadow: inset -4px 4px 4px black;
}

.log-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding-top: 0;
  grid-row: 7;
  grid-column: 1/4;
}

.logo {
  border-radius: 15px;
  align-self: center;
  width: 100px;
}
