.article, .panel {
  box-shadow: inset -6px 6px 6px #000000;
}

.nav-menu {
  display: grid;
  align-content: center;
}

.article, .panel {
  box-shadow: inset -6px 6px 6px #000000;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  background-color: #516673;
}
.body .main {
  display: grid;
  grid-template-columns: auto 250px;
  margin: 20px 10px 20px 10px;
  border-radius: 30px;
  background-color: #73482f;
}

.header {
  position: relative;
  grid-column: 1/span 2;
}
.header__hero-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
}

.headings {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Grape Nuts";
  color: #f2ec94;
}
.headings--title {
  margin-left: 40px;
  font-size: 5vw;
  text-shadow: -3px 4px 8px black;
}
.headings--tag {
  margin-left: 80px;
  font-size: 2vw;
  margin-bottom: 15px;
  text-shadow: -3px 4px 8px black;
}

.burger-wrapper {
  display: none;
  font-family: "Grape Nuts";
  color: #f2c063;
}

.nav-menu {
  grid-column: 1/span 2;
  font-family: "Grape Nuts";
  font-size: 38px;
  text-shadow: -3px 4px 8px black;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #f2c063;
}

.nav-link {
  color: #f2c063;
  text-decoration: none;
  text-shadow: -3px 4px 8px black;
}
.nav-link:hover {
  color: #f2ec94;
  text-shadow: 1px 1px 4px #ffde04;
}
.nav-link--this-page {
  cursor: default;
  color: #f2ec94;
  text-shadow: 1px 1px 4px #ffde04;
}

.side-bar {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: auto;
  row-gap: 30px;
  width: 180px;
  margin: 0 20px 0 20px;
  font-size: 95%;
  background: Arial, Helvetica, sans-serif;
}

.panel {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 15px;
  overflow: hidden;
}
.panel--horizontal-line {
  color: #9fa3a6;
  margin: 10px;
}
.panel--justified-text {
  text-align: justify;
}
.panel--center-text {
  text-align: center;
}

.article {
  display: grid;
  text-align: justify;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

.paragraph {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 100;
  font-size: 22px;
  margin-bottom: 30px;
}

.float-right {
  margin: 5px 50px 0 15px;
  float: right;
}
.float-right__image {
  cursor: zoom-in;
  border-radius: 10px;
  border: 3px solid #73482f;
  max-width: 100%;
  width: 250px;
}
.float-right__image--map {
  border-radius: 10px;
  border: 3px solid #73482f;
  max-width: 400px;
  max-height: 400px;
  width: 30vw;
  height: 30vw;
}

.caption-text {
  text-align: center;
  padding-bottom: 15px;
  display: block;
  color: #9fa3a6;
  font-size: 14px;
  text-align: center;
}

footer {
  display: grid;
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2c063;
  background-color: #73482f;
  height: 150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: "Grape Nuts";
  text-shadow: 3px 3px 8px black;
  display: grid;
  grid-column: 1/span 4;
}

.socials {
  display: grid;
  width: 42px;
}
.socials:hover {
  filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  border-radius: 10px;
  border: 3px solid #73482f;
  display: grid;
  width: 300px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.2s;
}
.gallery-grid img:hover {
  position: relative;
  cursor: zoom-in;
  top: -10px;
  left: 10px;
  box-shadow: -4px 4px 8px 0px #000000;
  transition: 0.2s;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.full-size-gallery {
  border-radius: 30px;
  border: 10px solid #73482f;
  box-shadow: 16px 16px 32px 10px #000000;
  position: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 90vh;
  max-width: 90vw;
  z-index: 3;
}
.full-size-gallery:hover {
  cursor: zoom-out;
}

.gallery-box {
  position: relative;
}

.caption-box {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  bottom: 8%;
  left: 0;
}

.gallery-caption {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-family: "Grape Nuts";
  font-size: 120%;
  color: #f2c063;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.5568627451);
  border-radius: 120px;
  border: 1px solid rgba(192, 192, 192, 0.541);
}
