.form-container {
   
  display: flex;
  justify-content: left;

}

.contact-form {
    
  display: grid;
  grid-template-columns: min-content ;
  width: 75%;
  gap: 10px;
}

label {
  font-size: 18px;
  font-weight: bold;
  display: grid;
  justify-self: right;
  align-self: center;
  grid-column-end: 1;
}

input {font-size: 18px;
  display: grid;
  height: 32px;
  grid-column-start: 2;
  grid-column-end: 3;
}
textarea {
    font-size: 18px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

.buttons {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 10px;
}

.reset {
  margin-right: 10px;
}
.submit {
  margin-right: 10px;
}
