.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  border-radius: 10px;
  border: 3px solid #73482f;
  display: grid;
  width: 300px;
  height: 200px;
}

.gallery-grid img:hover {
  position: relative;
  cursor: zoom-in;
  top: -10px;
  left: -10px;
  box-shadow: 10px 10px 16px 4px black;
}
.zoom-img {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.741);
  z-index: 1;
}
.zoom-img img {
  border-radius: 30px;
  border: 10px solid #73482f;
  box-shadow: 16px 16px 32px 10px black;
  position: fixed;
  margin-top: calc(100vh * 0.2);
  max-height: 80vh;
  max-width: 80vw;
  z-index: 3;
}
