* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #516673;
}

.page-content-grid {
  display: grid;
  grid-template-columns: auto 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #73482f;
}

.banner {
  display: grid;
  position: relative;
  grid-column: 1 / span 2;
  width: 100%;
}

#hero-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
}

.page-title-tageline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Grape Nuts";
  color: #f2ec94;
  background-color: rgba(0, 0, 0, 0.0);
}

.page-title-tageline h1 {
  margin-left: 40px;
  font-size: calc(100vw*.05);
}
.page-title-tageline h2 {
  margin-left: 80px;
  font-size: calc(100vw*.02);
  margin-bottom: 15px;
}
.burger-box{
  display:none;
}
.navigation-bar {
  display: grid;
  align-content: center;
  grid-column: 1 / span 2;
  height: 36px;
  width: 100%;
  background: #73482f;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  list-style: none;
  font-family: "Grape Nuts";
}
.navigation-bar a {
  text-decoration: none;
  color: #f2c063;
}
.navigation-bar a:hover {
  color: white;
}

aside {
  display: grid;
  background: #73482f;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  text-align: justify;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f2f2f2;
}

footer {
  display: flex;
  grid-column: 1 / span 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2c063;
  background-color: #73482f;
  height: 80px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.float-right {
  border: 3px solid #73482f;
  border-radius: 10px;
  margin: 5px;
  float: right;
  width: 320px;
}

.float-left {
  border: 3px solid #73482f;
  border-radius: 10px;
  margin: 5px;
  float: left;
  width: 320px;
}
