footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2c063;
  background-color: #73482f;
  height: 150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: "Grape Nuts";
  display: grid;
  grid-column: 1 / span 4;
}

.socials {
  display: grid;
  width: 42px;
}