.form-container {
  display: flex;
  justify-content: left;
}

.contact-form {
  display: grid;
  grid-template-columns: min-content;
  width: 75%;
  gap: 10px;
}

label {
  font-size: 18px;
  font-weight: bold;
  display: grid;
  justify-self: right;
  align-self: center;
  grid-column-end: 1;
}
.message{
  align-self: flex-start;
}

input {
  border: 1px solid black;
  box-shadow: inset -2px 2px 8px black;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  display: grid;
  height: 32px;
  grid-column-start: 2;
  grid-column-end: 3;
}
textarea {
  box-shadow: inset -2px 2px 8px black;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 2;
  grid-column-end: 2;

  /* margin: 10px; */
}

.reset,
.submit {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.reset:hover,
.submit:hover {
  background-color: darkgray;
  cursor: pointer;
}
