:root{
--text-color:#f2c063;
--background-color:#73482f;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  column-gap: 15px;
}

.tourismInfo {
  font-size: 24px;
  font-family: "Grape Nuts";
  text-shadow:3px 3px 8px black;
  display: grid;
  grid-column: 1 / span 4;
}

.socials {
  display: grid;
  width: 42px;
}

.social-icons img:hover {
  filter: drop-shadow(0px 0px 4px rgba(238, 255, 0, 0.60));
}