:root{
--text-color:#f2c063;
--background-color:#73482f;
--shadow-color: #000000;
--tint-color:rgba(0, 0, 0, 0.8);
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
}

.gallery-grid img {
  border-radius: 10px;
  border: 3px solid var(--background-color);
  display: grid;
  width: 300px;
  height: 200px;
  top:0;
  left:0;

}

.gallery-grid img:hover {
  position: relative;
  cursor: zoom-in;
  top: -10px;
  left: 10px;
  box-shadow: -10px 10px 16px 4px var(--shadow-color);
  transition: .2s;
  
}
.zoom-img {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.zoom-img img {
  border-radius: 30px;
  border: 10px solid var(--background-color);
  box-shadow: 16px 16px 32px 10px var(--shadow-color);
  position: flex;
  margin-top: 10px;
  margin-bottom:10px;
  max-height: 90vh;
  max-width: 90vw;
  z-index: 3;
}

.zoom-img img:hover ,.zoom-img:hover{
  cursor: zoom-out;
}
