:root{
--text-color:#f2c063;
--background-color:#73482f;
}

.map {
  display: flex;
  justify-content: center;
}

.map-frame {
    /* margin-top: 20px; */
    max-width:600px;
  width:100%;
  height:400px;
  border-radius: 30px;
  border: 3px solid var(--background-color)

}
