:root {
  --header-text: #f2ec94;
  --text-color: #f2c063;
  --background-color: #73482f;
  --shadow-color: #000000;
  --tint-color: rgba(0, 0, 0, 0.8);
  --padding-color: #516673;
  --article-background: #f2f2f2;
  --hover-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--padding-color);
}

.page-content-grid {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--background-color);
}

.banner {
  display: grid;
  position: relative;
  width: 100%;
}

.hero-img {
  width: 100%;
}

.page-title-tageline {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Grape Nuts";
  color: var(--header-text);
}

.page-title-tageline h1 {
  margin-left: 10px;
  font-size: calc(100vw * 0.1);
  text-shadow: 3px 3px 8px black;
}
.page-title-tageline h2 {
  display: none;
  margin-left: 80px;
  font-size: calc(100vw * 0.04);
  margin-bottom: 15px;
}

.burger-wrapper {
  cursor: pointer;
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
  height: 40px;
  width: 100%;
  font-family: "Grape Nuts";
  color: var(--text-color);
  background-color: var(--background-color);
}
.hamburger {
  content: "";
  position: absolute;
  left: 15px;
  width: 22px;
  height: 0;
  box-shadow: 0 12px 0 1px var(--text-color), 0 20px 0 1px var(--text-color),
    0 28px 0 1px var(--text-color);
}

.navigation-bar {
  display: grid;
  text-align: center;
  align-content: space-between;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background: var(--background-color);
  transition: all 0.25s;
}

.navigation-bar ul {
  display: grid; /*flex*/
  justify-content: space-around;
  list-style: none;
  font-family: "Grape Nuts";
}

.navigation-bar a {
  font-size: 48px;
  text-decoration: none;
  color: var(--text-color);
 
}
.navigation-bar a:hover {
   text-shadow: 2px 2px 4px #ffde04;
  color: var(--hover-color);
}
.thisPage a{
  color:#f2ec94;text-shadow: 1px 1px 4px #ffde04;
}
/* aside {
  display: none; 
  background: var(--background-color);
} */

aside {
margin: 15px;
height: 100;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-column: 10px;
  font-size: 95%;
  background: var(--background-color);
}
aside div {

  margin:auto;
  display: grid;
  padding-left: 5px;
  padding-right: 10px;
  max-width: 180px;
  /* overflow: hidden; */
}

aside .ferryHours {
  display: block;
}

aside hr {
  color: #9fa3a6;
  margin: 10px;
}
.coming-up {
  align-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  box-shadow: inset -6px 6px 6px black;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding-top: 15px;
  text-align: center;
}

.coming-up p {
  display: block;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  text-align: justify;
  padding: 20px;
  background-color: var(--article-background);
}

.float-right {
 
  border-radius: 10px;
  margin: 5px;
  float: right;
  width: 40%;
}

.float-left {
  /* border: 3px solid var(--background-color); */
  border-radius: 10px;
  margin: 5px;
  float: left;
  width: 320px;
}

.border{
   border: 3px solid var(--background-color);
}
