:root {
  --header-text: #f2ec94;
  --text-color: #f2c063;
  --background-color: #73482f;
  --nav-bar: #73482f;
  --shadow-color: #000000;
  --tint-color: rgba(0, 0, 0, 0.8);
  --padding-color: #516673;
  --article-background: #f2f2f2;
  --hover-color: #f2ec94;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--padding-color);
}

.page-content-grid {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto 250px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: var(--background-color);
}

.banner {
  display: grid;
  position: relative;
  grid-column: 1 / span 2;
  width: 100%;
}

#hero-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
}

.page-title-tageline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Grape Nuts";
  color: var(--header-text);
}

.page-title-tageline h1 {
  margin-left: 40px;
  font-size: calc(100vw * 0.05);
  text-shadow: 3px 3px 8px black;
}
.page-title-tageline h2 {
  margin-left: 80px;
  font-size: calc(100vw * 0.02);
  margin-bottom: 15px;
  text-shadow: 3px 3px 8px black;
}
.burger-box {
  display: none;
}
.navigation-bar {
  display: grid;
  align-content: center;
  grid-column: 1 / span 2;
  height: 60px;
  width: 100%;
  background: var(--nav-bar);
}

.navigation-bar ul {
  display: flex;
  justify-content: space-around;
  font-size: 38px;
  list-style: none;
  font-family: "Grape Nuts";
  text-shadow: 3px 3px 8px black;
}
.navigation-bar a {
  text-decoration: none;
  color: var(--text-color);
}
.navigation-bar a:hover {
  color: var(--hover-color);
  text-shadow: 1px 1px 4px #ffde04;
}

.thisPage a {
  color: #f2ec94;
  text-shadow: 1px 1px 4px #ffde04;
}
aside {
  display: grid;
  align-content: flex-start;
  grid-template-columns: auto;
  row-gap: 10px;
  grid-column: 10px;
  width: 180px;
  max-width: 180px;
  font-size: 95%;
  background: var(--background-color);
}
aside div {
  display: grid;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
}

aside .ferryHours {
  display: block;
}

aside hr {
  color: #9fa3a6;
  margin: 10px;
}

.coming-up {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 300px;
  box-shadow: inset -6px 6px 6px black;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.coming-up p {
  display: block;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  text-align: justify;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: inset -6px 6px 6px black;
  background-color: var(--article-background);
}
article p {
  padding-left: 60px;
  padding-right: 30px;
  max-width: 600px;
  font-size: 22px;
}

footer {
  grid-column: 1 / span 2;
}

.caption-text {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 15px;
  float: right;
  display: block;
  color: rgb(44, 133, 211);
  font-size: 14px;
  text-align: center;
}
.float-right {
  /* border: 3px solid var(--background-color); */
  border-radius: 10px;
  margin: 5px;
  float: right;
  max-width: 100%;
  width: 250px;
}

.float-left {
  border: 3px solid var(--background-color);
  border-radius: 10px;
  margin: 5px;
  float: left;
  max-width: 100%;
  width: 250px;
}
.hover-view:hover {
  max-width: 100%;
  width: 500px;
  transition-delay: 0.25s;
  transition-duration: 0.3s;
}

.hover-view:not(:hover) {
  max-width: 100%;
  width: 250px;
  transition-duration: 0.3s;
}

.border {
  border: 3px solid var(--background-color);
}
